source /opt/ros/humble/setup.sh
source /home/bresilla/ROS_OXBO/install/setup.sh

export GIT_SSH_COMMAND='ssh -i ~/.ssh/ros2_aravis'

eval "$(register-python-argcomplete3 ros2)"
eval "$(register-python-argcomplete3 colcon)"
